<main id="board"></main>
<script>
    const state = {
        board: {{{board}}},
        tasks: {{{tasks}}},
        users: {{{users}}},
        model: false
    }
</script>
<script src="/js/board.js"></script>